body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

.pagina {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/*ELEMENTOS*/
footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: #fff;
}

h2 {
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  text-decoration: underline;
}

h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-decoration: underline;
}

/*IDS*/
#main-navbar{
  background: firebrick;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: relative;
}

/*CLASES*/

.clase-canto {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  background: firebrick;
  background-size: contain;
  padding: 10px;
  border: #333;
}

.texto {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}

.header-text {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.ul-navbar-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.nav-item {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/*CURSOS*/
.section-cursos {
  text-align: top;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.h2-cursos {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.ul-cursos {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.li-gen {
  list-style-type: none;
  background: firebrick;
  background-size: contain;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  width: 150px;
}

.clase-canto {
  margin-top: 20px;
  display: inline-block;
}

.articulos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*ZONA*/
#zona{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section-zona{
  text-align: top;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

/*UBICACION*/
#ubicacion {
  text-align: right;
  margin-top: 10px;
}

.h2-ubi {
  text-align: right;
}

/*Cursodecanto*/
/*Estudiantes destacados*/
#Estudiante-Destacado{
  text-align: center;
}

.image-estudiantes {
  display: inline-block;
  width: 45%;
  height: auto;
  margin: 10px;
  vertical-align: top;
}

#tabla-precios {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 300px;
}

#CieloAbierto {
  text-align: left;
}

.audio {
  background: firebrick;
  background-size: contain;
  border-radius: 30px;
  margin: 5px;
  padding: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.inputs {
  text-align: center;
  margin: 5px;
}

.li-form {
  text-align: left;
  list-style-type: none;
}